@keyframes appear {
    0%{
        opacity: 0;
        top: 35px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

@keyframes organic {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
    }

    25% {
        border-radius: 70% 30% 30% 70%/70% 70% 30% 30%
    }

    50% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
    }

    100% {
        border-radius: 70% 30% 30% 70%/70% 70% 30% 30%
    }
}

.wrapper {
    list-style: none;
    padding: 50px 30px;
    padding: 0;
    margin: 0 0 50px;
    display: flex;
    align-items: center;
    position: relative;
    animation: appear .5s ease;
}
.image{
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 0% 70% 70% 30%/30% 30% 70% 70%;
    animation: organic 20s infinite alternate ease-in-out;
}
.imageNone{
    @extend .image;

    background: url('https://unsplash.it/200/200')
    no-repeat;
    background-size: cover;
}


.description{
    font-weight: 300;

}
.button{
    font-size: 10px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1E58FF;

}
